body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

h1, .card-title {
  text-align: center;
  color: #555;
}

.container {
  max-width: 800px;
  margin: 10px auto;
  padding-bottom: 60px; /* Add padding to prevent overlap with the swipe menu */
}

.card {
  margin-bottom: 10px;
  border: none;
  background-color: #f8f9fa;
}

.card-header {
  font-weight: bold;
  background-color: #e9ecef;
}

.slider-container {
  margin: 10px 0;
}

label {
  display: block;
  margin-bottom: 3px;
}

.slider-container input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 6px; /* Track height */
  border-radius: 5px;
  background: #ccc;
  outline: none;
}

.slider-container input[type="range"]::-webkit-slider-thumb {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5), 1px 1px 1px rgba(255, 255, 255, 0.2);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #0032D2;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}

.slider-container input[type="range"]::-moz-range-thumb {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5), 1px 1px 1px rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background: #0032D2;
  cursor: pointer;
}

.swiper-container {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
}

.swiper-slide {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 17px;
  background: #808080;
  color: white;
  white-space: nowrap;
  width: 120px;
  padding-top: 4px;
}

.swiper-slide-selected {
  background-color: #0032D2;
}

.card-body {
  padding: 10px;
  font-size: 18px;
}

.headline-container {
  display: flex;
  align-items: center;
}

#category-image {
  width: 56px; /* Match the image's original width */
  height: 68px; /* Match the image's original height */
  margin-right: 10px; /* Add some space between the image and the text */
  vertical-align: middle; /* Align the image with the middle of the text */
}
