body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #555;
  margin-bottom: 20px;
}

.container {
  max-width: 800px;
  margin: 20px auto;
}

.card {
  margin-bottom: 20px;
  border: none;
  background-color: #f8f9fa;
}

.card-header {
  font-weight: bold;
  background-color: #e9ecef;
}

.card-title {
  font-size: 22px;
  text-align: center;
}

.slider-container {
  margin: 15px 0;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="range"] {
  width: 100%;
}

.swiper-container {
  width: 100%;
  height: 50px;
}

/* Custom Slider Styles */
.slider-container {
  margin-bottom: 20px;
}
.slider-container label {
  margin-bottom: 10px;
  display: block;
}
.slider-container input[type="range"] {
  width: 100%;
  height: 8px;
  background: #f0f0f0;
  border-radius: 5px;
  outline: none;
  -webkit-appearance: none;
}
.slider-container input[type="range"]::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  background: #0032D2; /* Navy blue */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  -webkit-appearance: none;
}
.slider-container input[type="range"]::-moz-range-thumb {
  /* Same styles as above for Firefox */
  width: 20px;
  height: 20px;
  background: #0032D2; /* Navy blue */
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* Adjustments for the size card */
.card-body {
  padding: 15px;
}

.swiper-container {
  width: 100%;
}

/* Swipe style for non-selected entries */
.swiper-slide {
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 14px; /* Reduce the font size */
  background: #808080;
  color: white;
  flex-wrap: nowrap; /* Prevent wrapping */
  white-space: nowrap; /* Prevent text wrapping */
  width: 120px; /* Specific width for each slide */
}

/* Swipe style for selected entries */
.swiper-slide-selected {
  background-color: #0032D2;
}

